// color
$green-color-text: #8FD02A;
$green-bg-color: #8FD02A;
$dark-text-color: #364C63;
$light-black-text-color: #333333;
$disabled-bg-color: #EDEDED;
$disabled-link-color: #919191;
$review-text-color: #6D7072;
$benefits-text-color: #676767;
$white-text-color: #fff;
$green-product-color: #8FD02A;
$red-product-color: #B62323;
$blue-product-color: #155496;
$grey-dots-bg: #C4C4C4;
$dark-btn-bg: #364C63;
$active-btn-color: #8FD02A;
// fonts
$title-font: 'Montserrat';
$text-font: 'Lato';
